.button{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    font-weight: bold;
    margin-right: 1rem;
    background: #3e6ae1;
    color: white;
}

.button:hover{
    opacity: .8;
    background: #9b9faa;
}

.button:disabled {
    background: #cccccc;
    color: rgb(0, 0, 0);
    opacity: 0.9;
    cursor: not-allowed;
}

.button.active{
    background: #ff0000;
    color: white;
}